modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyB3RzIRvL0xGtminZ3RMDxKHyA6eMtgWN4"
VITE_FIREBASE_AUTH_DOMAIN = "happy-fd1bc.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "happy-fd1bc"
VITE_FIREBASE_STORAGE_BUCKET = "happy-fd1bc.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "426245078000"
VITE_FIREBASE_APP_ID = "1:426245078000:web:d94566ffb8a7230385bb35"
VITE_FIREBASE_DATABASE_URL = "https://happy-fd1bc-default-rtdb.firebaseio.com"
VITE_FIREBASE_MEASUREMENT_ID = "G-7ZM164H30K"
VITE_FIREBASE_VAPID_KEY = "sJNaL0-vKU_ZSjD9GhZHGC-Irrt6aI-U_FVIZNha0kg"
